<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Element June: credentials for the bots' Hermes vaults (screenshots blocked, no autofill) -->
        <activity
            android:name=".CredentialsActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:label="자격증명 관리"
            android:windowSoftInputMode="adjustResize"
            android:theme="@android:style/Theme.Material.NoActionBar" />
    </application>

</manifest>
