<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".RoomButtonWidgetReceiver"
            android:exported="true"
            android:label="@string/june_widget_room_button_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/june_room_button_widget_info" />
        </receiver>

        <receiver
            android:name=".RoomListWidgetReceiver"
            android:exported="true"
            android:label="@string/june_widget_room_list_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/june_room_list_widget_info" />
        </receiver>

        <activity
            android:name=".config.WidgetConfigActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/june_widget_config_title"
            android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".config.JuneSettingsActivity"
            android:exported="false"
            android:label="June 꾸미기"
            android:theme="@android:style/Theme.Material.NoActionBar" />
    </application>

</manifest>
